<header class="bg-primary navbar navbar-light navbar-toggleable-md bd-navbar">
<p class="col-md-1">DSL - projekt</p>
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-item nav-link " href="@{"/addBook"}">
                Dodaj książkę
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link " href="@{"/userBooks"}">
                Moje książki
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link " href="@{"/changePassword"}">
                Zmień hasło
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link " href="@{"/logout"}">
                Wyloguj się
            </a>
        </li>
    </ul>
</div>
</header>