header {
    color: white;
    position: sticky !important;
    top: 0;
    z-index: 1000;
}

header > p {
    margin-bottom: 0px;
}

ul > li {
    border-right: solid;
    border-color: white;
}

ul > li > a {
    color: white !important;
}

.column-class {
    display: inline;
}

.register-div {
    display: block;
}

.register-div > label {
    text-align: right;
}

.error-message {
    color: red;
}

dd.info {
    display: none;
}